<div class="row">
    <div class="col-md-4">
        <div>
            <h3>Add New Product</h3>
            <div>Name: {{ product.name }}</div>
            <div>Price: {{ product.price | currency }}</div>
            <div>Invetory: {{ product.inventory }} </div>
            <div>Description: {{ product.description }} </div>
        </div>
        <p>&nbsp;</p>
        <p><a href="#/products" class="btn btn-primary btn-xs">&lt; Back</a></p>
    </div>

    <div class="col-md-8 bg-danger" ng-show="showErrors">
        <h4>Errors</h4>
        <ul>
            <li ng-repeat="error in errors">{{ error[0] }}</li>
        </ul>
    </div>
    <div class="col-md-8">
        <form id="create-form" name="create_form" role="form">
            <div ng-include="'partials/product-form.html'"></div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="insertProduct()" ng-disabled="create_form.$invalid">Save</button>
                <a href="#/products" class="btn btn-default pull-right">Cancel</a>
            </div>
        </form>
    </div>
</div>