<div class="row">
    <div class="col-md-4">
        <div>
            <h3>{{ product.name }}</h3>
            <div>Invetory: {{ product.inventory }} </div>
            <div>Price: {{product.price | currency }}</div>
        </div>
        <p>&nbsp;</p>
        <p><a href="#/products" class="btn btn-primary btn-xs">&lt; Back</a></p>
    </div>


    <div class="col-md-8 bg-danger" ng-show="showErrors">
        <h4>Errors</h4>
        <ul>
            <li ng-repeat="error in errors">{{ error[0] }}</li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 bg-info" ng-show="showState">
            <h4>{{ stateMessage }}</h4>
        </div>
        
        <form id="edit-form" name="edit_form" role="form">
            <div ng-include="'partials/product-form.html'"></div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="editProduct()" ng-disabled="edit_form.$invalid">Save</button>
                <button class="btn btn-danger pull-right" ng-click="deleteProduct()">Delete</button>
            </div>
        </form>
    </div>
</div>