<div class="form-group">
    <label class="control-label hidden-xs">Product Name: </label>
    <input type="text" class="form-control" ng-model="product.name" placeholder="Product Name" required>
</div>
<div class="row">
	<div class="form-group col-md-6">
	    <label class="control-label hidden-xs">Price: </label>
	    <input type="text" decimal-number class="form-control" ng-model="product.price" placeholder="Price" required>
	</div>
	<div class="form-group col-md-6">
	    <label class="control-label hidden-xs">Inventory: </label>
	    <input type="number" class="form-control" ng-pattern="/^\d+$/" ng-model="product.inventory" placeholder="Inventory" required>
	</div>
</div>
<div class="form-group">
    <label class="control-label hidden-xs">Description: </label>
    <textarea class="form-control" ng-model="product.description" placeholder="Description" required></textarea>
</div>