<div class="row">
    <div class="col-md-12">
        <h1>Products <a href="#/products/create" class="btn btn-success">New Product</a></h1>
        
        <div class="row" ng-show="showState">
            <div class="col-md-12 bg-info">
                <h4>{{ stateMessage }}</h4>
            </div>
        </div>

        <div class="row">
            <div ng-show="showProducts">
                <div class="col-md-3 product" ng-repeat="product in products">
                    <p>{{ product.name }}</p>

                    <p>{{ product.price | currency }}</p>
                    <p>Inventory: {{ product.inventory }}</p>

                    <a class="btn btn-primary" href="#/products/{{ product.id }}">View</a>
                    <a class="btn btn-danger" ng-click="deleteProduct(product.id)">Delete</a>
                </div>
            </div> 
        </div>

    </div>
</div>